<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="PromosDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PROMOS_DB;Integrated Security=True;Encrypt=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

	
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <httpRuntime targetFramework="4.8" />
    <globalization
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      fileEncoding="utf-8"
      culture="es-AR"
      uiCulture="es-AR" />
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>

